# Налаштування Telegram бота
# Отримайте токен у @BotFather в Telegram
TELEGRAM_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Ваш особистий Telegram ID. 
# Бот виведе його в консоль або чат при запуску команди /start, якщо не вказано.
ADMIN_CHAT_ID=123456789

# Налаштування сервера для вебхуків WayForPay
PORT=3000
# URL вашого сервера (наприклад, посилання з ngrok для локальних тестів або IP/домен VPS для деплою)
# ВАЖЛИВО: без слеша наприкінці!
SERVER_URL=https://your-subdomain.ngrok-free.app

# Налаштування WayForPay
# Для тестів можна використовувати ці дефолтні значення (вони працюють у тестовому режимі):
WFP_MERCHANT_ACCOUNT=test_merch_n1
WFP_MERCHANT_SECRET=flockt1sst3st
WFP_MERCHANT_DOMAIN=https://example.com
